@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');


.comic-neue{
  font-family: "Comic Neue", cursive;
}

.noto-serif{
  font-family: "Noto Serif", serif;
}

.zen-dots {
  font-family: "Zen Dots", sans-serif;
}

.manrope {
  font-family: "Manrope", sans-serif;
}

.rangile {
  font-family: "rangile", serif;
}
.opensans {
  font-family: "Open Sans", sans-serif;
}

.damion {
  font-family: "Damion", cursive;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom dark mode transition */
body.dark {
  background-color: #111;
  color: #fff;
  transition: background-color 0.5s ease, color 0.5s ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


